<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}">
    <title>Create Todo</title>
</head>
<body>
<div class="container">
    <div class="row mt-5">
        <div class="col-2">
            <p>
                <a class="btn btn-outline-success" href="/">
                    <i class="bi bi-arrow-left-square-fill">Back</i>
                </a>
            </p>
        </div>
        <div class="col-6">
            <h2>Edit todo!</h2>
            <form class="row g-3" action="#" th:action="@{/todo/{id}(id=${todoItem.id})}" th:object="${todoItem}" method="post">
                <div class="grid">
                    <div class="col-6">
                        <label for="description">Description</label>
                        <input class="form-control"
                               type="text"
                               th:field="*{description}"
                               id="description"
                               placeholder="Write here!"
                        />
                    </div>

                    <div class="col-6 form-check">
                        <input class="form-check-input"
                               type="checkbox"
                               th:field="*{complete}"
                               th:checked="${complete} == true"
                               id="inputIsComplete"
                        />
                        <label class="form-check-label" for="inputIsComplete">Completed?</label>
                    </div>

                    <input type="hidden" th:field="*{createdTime}"/>
                    <input type="hidden" th:field="*{updatedTime}"/>

                    <button type="submit" class="btn btn-outline-success">
                        <i class="bi bi-plus-square-fill"></i>Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script th:src="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"></script>
</body>
</html>